#about {
    background: url(../img/bg-about.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 800px;
    padding: 145px 0;
}

#about .container h2 {
    font-size: 80px;
    font-weight: 700;
    color: #52c975;
    margin: 0 0 65px 0;
}

#about .container p {
    color: #5f5f5f;
    font-size: 16px;
    line-height: 30px;
}

#about .container .card-about {
    border-radius: 25px;
    text-align: center;
    margin-top: 70px;
    padding: 15px;
    width: 30%;
    background-color: #fff;
}

#about .container .card-about h3 {
    font-size: 24px;
    font-weight: 700;
    color: #52c975;
    margin: 20px auto;
}

#about .container .card-about p {
    color: #5f5f5f;
    font-size: 16px;
    line-height: 30px;
}

#about .container .card-about img {
    margin: 20px;
}

@media screen and (max-width: 767px) {
    #about {
        padding: 30px 0;
    }
    
    #about .row.cisf {
        justify-content: center !important;
    }

    #about .card-about {
        width: 85% !important;
    }
}