#green-footer {
    padding: 50px 0;
    background-color: #006d3a;
    color: #fff;
}

@media screen and (max-width: 767px) {
    #green-footer .logo-footer {
        justify-content: center !important;
        margin-top: 20px;
    }
}