#hero {
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
}

#hero .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero img {
    max-height: 370px;
    margin-left: -30px;
}

#hero .event-date {
    font-size: 40px;
    line-height: 40px;
    color: #52c975;
    font-weight: 700;
}

#hero .event-short-text {
    font-size: 22px;
    color: #fffffe;
    font-weight: 400;
}

#hero a {
    background-color: #52c975;
    font-weight: 900;
    font-size: 21px;
    border: none;
    padding: 15px 25px;
}

@media screen and (max-width: 767px) {

    #hero {
        background: url(../img/header.jpg) no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    #hero .container {
        padding: 60px 30px;
    }

    #hero .event-date {
        color: #fffffe
    }
    
}